/******************************************************/
/***************   LOGIN PAGE   ***********************/
/******************************************************/
html,
body,
.wrapper {
    min-height: auto;
    height: 100% !important;
    font-family: 'Open Sans';
}
.login-box,
.register-box {
    margin: 0 auto;
    max-width: 430px;
    width: auto;
}
.login-box-body,
.register-box-body {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 65px;
}
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('../../../../itm-media/img/admin/login/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.login-form-control {
    width: 100%;
    position: relative;
    font-size: 18px;
    border: none;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #509cfd;
    padding: 10px 15px;
    margin: 0;
}
.login-form-control:focus {
    outline: none!important;
    -webkit-box-shadow: none;
}
.loginLogoMaxWidth {
    max-width: 100%;
    margin-bottom: 30px
}
.btn-auth {
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    height: 48px;
    line-height: normal;
    padding: 0;
    text-shadow: none;	
    border-radius: 0;
    border: 2px solid;
    border-color: #509cfd;
    font-size: 18px;
    text-transform: uppercase;
}
.btn-1:hover,
.btn-2 {
    color: #509cfd;
    background: transparent;
}
.btn-1,
.btn-2:hover {
    background-color: #509cfd;
    color: #FFF;
}
.bullet {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #509cfd;
    border-radius: 50%;
    bottom: -4px;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    left: 0;
}
input:focus + .bullet {
    margin-left: -10px;
    left: 100%;
}
.login-box input::-webkit-input-placeholder {
    font-weight: 100;
    color: rgba(52, 52, 52, .7);
}
/* Firefox 18- */

.login-box input:-moz-placeholder {
    font-weight: 100;
    color: rgba(52, 52, 52, .7);
}
/* Firefox 19+ */

.login-box input::-moz-placeholder {
    font-weight: 100;
    color: rgba(52, 52, 52, .7);
}
.login-box input:-ms-input-placeholder {
    font-weight: 100;
    color: rgba(52, 52, 52, .7);
}
.powered-by {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}
input,
label {
    font-size: 18px;
    font-weight: 600;
}
.margin-top-10 {
    margin-top: 10px;
}
a {
    color: #343434;
}
a:hover {
    text-decoration: none;
    color: #509cfd;
}
.remember-me {
    color: #343434;
    font-weight: 400;
    font-size: 14px;
}
.alert-danger {
    background-color: rgba(255, 255, 255, 0.9)!important;
    color: #343434 !important;
    border: none;
    border-left: 5px solid #ff0000;
    border-radius: 0;
}
li {
    list-style: none;
}
.error {
    font-weight: 600;
    margin: 0;
}